<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <div class="glass-content ion-padding">
    <!-- @if (character) {
    <div class="ion-text-center ion-padding-top">
      <ion-avatar>
        <img [src]="character.image" />
      </ion-avatar>

      <h1>{{character.name}}</h1>
      <div>Estatus: {{character.status === 'Alive' ? 'Vivo' : 'Muerto'}}</div>

      <ion-item lines="none">
        <ion-icon slot="start" name="location-outline"></ion-icon>
        <ion-label
          >Visto por primera vez: <br />
          <strong>{{character.origin.name}}</strong></ion-label
        >
      </ion-item>

      <ion-item lines="none">
        <ion-icon slot="start" name="location-outline"></ion-icon>
        <ion-label
          >Visto por ultima vez: <br />
          <strong>{{character.location.name}}</strong></ion-label
        >
      </ion-item>
    </div>
    } -->
  </div>
</ion-content>
