<ion-header mode="md">
  <ion-toolbar>
    <ion-title>
      <div class="version">Ionic 7</div>
      <strong>Rick & Morty</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <div class="glass-content">
    <!-- Barra de busqueda -->
    <ion-row>
      <ion-col class="d-flex-center" size="12">
        <ion-searchbar
          [(ngModel)]="params.name"
          placeholder="Buscar personaje..."
          (ionInput)="searchCharacters()"
          [debounce]="250"
        ></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-grid>
      <ion-row>
        @for (character of characters; track character.id) {
        <!-- Aqui paso el id del personaje por la ruta-->
        <ion-col
          routerLink="/detalles/{{character.id}}"
          sizeLg="6"
          sizeMd="6"
          sizeSm="12"
          size="12"
        >
          <ion-card>
            <ion-grid>
              <ion-row>
                <!-- resoluciones grandes, medianas, pequeñas y moviles -->
                <ion-col
                  class="ion-padding"
                  sizeLg="4"
                  sizeMd="4"
                  sizeSm="4"
                  size="12"
                >
                  <ion-avatar>
                    <img [src]="character.image" />
                  </ion-avatar>
                </ion-col>
                <ion-col
                  class="ion-padding"
                  sizeLg="8"
                  sizeMd="8"
                  sizeSm="8"
                  size="12"
                >
                  <div class="name">{{character.name}}</div>
                  <p>
                    Visto por primera vez: <br />
                    <strong>{{character.origin.name}}</strong>
                  </p>
                  <p>
                    Visto por ultima vez: <br />
                    <strong>{{character.location.name}}</strong>
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
        }
      </ion-row>
    </ion-grid>

    <!-- Este es el scroll infinito de IONIC -->
    <ion-infinite-scroll
      threshold="25%"
      position="bottom"
      (ionInfinite)="getCharacters($event)"
    >
      <ion-infinite-scroll-content> </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
